.card__switch {
    display: flex;
    justify-content: space-between;
    padding-inline: 5%;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 40px;
    padding-inline: 17.5%;
}

.card__switch__btn a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #D4E8D9;
    border-style: none;
    width: 143px;
    height: 46px;
    border-radius: 20px;
    font-size: 20px;
    color: #2C2D35;
    cursor: pointer;
}


.card__switch__btn a:hover {
    background-color: #598D66;
    color: #F4F6F5;

}

.card__switch__btn a:active {
    background-color: #376B44;
    color: #F4F6F5;
}


