.card__conteiner {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;

}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 350px;
    height: 730px;
    overflow: hidden;
    background-color: #D4E8D9;
    font-size: 18px;

}

.card>img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* кнопка */

.card__bucket {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #598D66;
    background-color: #D4E8D9;
    color: #598D66;
    cursor: pointer;
    font-size: 20px;
    width: 310px;
    height: 65px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.card__bucket:hover {
    background-color: #598D66;
    color: #F4F6F5;
}

.card__bucket:active {
    background-color: #376B44;
    color: #FFFFFF;
}

/* шрифты */

h2 {
    font-size: 30px;
    font-weight: 500;
    color: #2C2D35;
    margin-bottom: 10px;

}

h3 {
    font-size: 24px;
    font-weight: 500;
    color: #598D66;
    margin-bottom: 10px;
}

.card__info p:first-of-type {
    font-weight: 500;
    color: #86928B;
    margin-bottom: 10px;
}

/* отступы шрифтов отдельно */

.card__info {
    margin-top: 10px;
}

.card__info p:last-of-type {
    margin-bottom: 35px;
}