footer {
    background-color: #E1EDE6;
    color: #86928B;
    height: 150px;
    overflow: hidden;
    text-decoration: none;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10%;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    gap: 3em;
}

/* шрифты и стили */

.footer__list>ul>li {

    margin-bottom: 1rem;
    color: #86928B;
}


.footer__list a {
    transition: color 0.2s ease;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    color: #86928B;
}

.footer__list a:hover {
    color: #598D66;
}

.footer__list a:active {
    color: #376B44;
}


h6 {
    margin-bottom: 10px;
}

.footer__list h6 a{
    color: #2C2D35;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.footer__number p:first-of-type{
color: #2C2D35;;
}
/* отступ картинок */

.footer__number>img{
color: #2C2D35;
margin-bottom: 20px;
transform: scale(1.1);
}



.footer__social>div>img {
    margin-right: 1.5em;
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');