.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.headline>img {
    width: 540px;
    transform: scaleX(-1);
    object-fit: cover;
}

/* текст */

.headline__text {
  
}

.headline__text>p {
    font-size: 18px;
    color: #86928B;
    font-weight: 500;
}

h1 {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 25px;
}

span {
    color: #598D66;
}

/* Кнопка */

.product {
     display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #598D66;
  background-color: #F4F6F5;
  color: #598D66;
  font-size: 1em;
  margin-top: 4.5em;
  width: 225px;
  height: 65px;
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
}

.product:hover {
  background-color: #598D66;
  color: #F4F6F5;
}

.product:active {
  background-color: #376B44;
  color: #FFFFFF;
}