header {
    background-color: #E1EDE6;
    height: 100px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    height: 100px;
    max-width: 1110px;
}

nav button {
border-style: none;
background-color: #E1EDE6;
}

nav>a {
    padding-left: 5%;
}

nav>a>img {
    padding-left: 5%;

}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    height: auto;
    gap: 45px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

/* стилизация текста */

.navigation a {
    color: #2C2D35;
}

.navigation a:hover{
    color: #598D66;
}

.navigation a:active {
    color: #376B44;
}

