.section__team {
   display: flex;
   justify-content: center;
   align-items: center ;
}

.team {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 6em;
    height: 600px;
}

.team>img {
transform: scale(1.3);
margin-bottom: 150px;
}

.person {
    display: flex;
}

.person__1,
.person__2,
.person__3 {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    overflow: hidden;
    margin: 30px 40px 0px 0px;
}

.person__1>img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    object-position: 50% 15%;
    transform: scale(1)
}

.person__2>img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    object-position: 50% -16%;
    transform: scale(1.3)
}

.person__3>img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    object-position: 50% 15%;
    transform: scale(1.4)
}

/* текст */

h5 {
     line-height: 110%;
    font-size: 40px;
    font-weight: 500;
    color: #2C2D35;
    margin-bottom: 25px;
}

.team__info>p {
    font-size: 18px;
    font-weight: 500;
    color: #2C2D35;
    margin-bottom: 25px;
    line-height: 150%;
    letter-spacing: 0%;
    margin-bottom: 20px;
}

/* отступ до следующей секции */

.section__card {
    margin-bottom: 5%;
}

